@model IEnumerable<testDemoClient.Models.Platform>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.uniqueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.longitude)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.createdAt)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.updatedAt)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.uniqueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.createdAt)*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.updatedAt)*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.platformId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.platformId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.platformId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
